
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p, li {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    height: 300px;
    width: auto;
}